@charset "UTF-8";
html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  margin: 0rem 0rem 0.625rem 0rem;
  font-weight: normal; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #505050; }

h1, h2, h3 {
  font-weight: 400; }
  h1 strong, h2 strong, h3 strong {
    font-weight: 600; }

h4, h5, h6 {
  font-weight: 700; }

h1 {
  color: #650360;
  font-size: 28px;
  font-size: 1.75rem; }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 36px;
      font-size: 2.25rem; } }

h2 {
  font-size: 20px;
  font-size: 1.25rem; }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 28px;
      font-size: 1.75rem; } }

h3 {
  font-size: 18px;
  font-size: 1.125rem; }
  @media only screen and (min-width: 1024px) {
    h3 {
      font-size: 26px;
      font-size: 1.625rem; } }

h4 {
  font-size: 16px;
  font-size: 1rem; }

h5 {
  font-size: 15px;
  font-size: 0.9375rem; }

h6 {
  font-size: 14px;
  font-size: 0.875rem; }

p {
  line-height: 21px; }

ul li {
  position: relative;
  padding-left: 13px;
  margin-bottom: 7px; }
  ul li::before {
    content: "•";
    position: absolute;
    left: 0; }

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto; }
  .container-fluid {
    width: 100%; }

.header {
  background-color: #328fc2; }
  .header-inner {
    text-align: center;
    padding-top: 6px; }
    @media only screen and (min-width: 768px) {
      .header-inner {
        padding-bottom: 6px; } }
  @media only screen and (max-width: 767px) {
    .header .logo-wrap {
      margin-bottom: 6px; } }
  .header .main-nav li a {
    color: white; }
  .header .main-nav li.active a {
    background-color: #006899; }

a {
  color: #328fc2; }

.nav-wrap .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (min-width: 768px) {
    .nav-wrap .nav {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  .nav-wrap .nav li {
    padding-left: 0; }
    .nav-wrap .nav li::before {
      display: none; }
    .nav-wrap .nav li a {
      font-size: 12px;
      text-decoration: none;
      text-transform: lowercase;
      padding: 0 8px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media only screen and (min-width: 768px) {
        .nav-wrap .nav li a {
          font-size: 16px;
          padding: 0 20px;
          height: 45px; } }
    .nav-wrap .nav li.active a {
      font-weight: 700; }
    .nav-wrap .nav li:last-of-type a {
      padding-right: 0; }

.content-inner {
  padding-top: 20px;
  padding-bottom: 20px; }

.main .banner p {
  line-height: 18px; }
