body {
  font-family: $helvetica;
  color: $gray-dark;
}

// Headings
h1, h2, h3 {
  font-weight: 400;

  strong {
    font-weight: 600;
  }
}
h4, h5, h6 {
  font-weight: 700;
}
h1 {
  color: $purple;
  @include rem("font-size", 28);

  @include min-breakpoint($desktop) {
    @include rem("font-size", 36);
  }
}
h2 {
  @include rem("font-size", 20);

  @include min-breakpoint($desktop) {
    @include rem("font-size", 28);
  }
}
h3 {
  @include rem("font-size", 18);

  @include min-breakpoint($desktop) {
    @include rem("font-size", 26);
  }
}
h4 {
  @include rem("font-size", 16);
}
h5 {
  @include rem("font-size", 15);
}
h6 {
  @include rem("font-size", 14);
}

// Paragraphs and lists
p {
  line-height: 21px;
}

ul {
  li {
    position: relative;
    padding-left: 13px;
    margin-bottom: 7px;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
    }
  }
}
