// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$tablet-1: 767;
$tablet: 768;
$desktop-1: 1023;
$desktop: 1024;
$desktop-large-1: 1279;
$desktop-large: 1280;
$desktop-xlarge-1: 1439;
$desktop-xlarge: 1440;
$desktop-hd-1: 1919;
$desktop-hd: 1920;


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 14;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;


// ----------------------------------------------------------------------
	// Colors
// ----------------------------------------------------------------------
$purple: #650360;
$blue: #328fc2;
$blue-dark: #006899;
$blue-darker: darken($blue-dark, 10%);
$gray-light: #f5f5f5;
$gray: #e7e8e9;
$gray-darker: #cccccc;
$gray-dark: #505050;
$green: #bbd8c4;
$green-lighter: #ddebe1;
$green-lightest: #eef5f0;
