* {
  box-sizing: border-box;
}

// Links
a {
  color: $blue;
  text-decoration: none;
  transition: color .3s ease-in-out;

  &:hover {
    color: $blue-darker;
  }
}

// Headings
h1, h2, h3 {
  font-weight: 300;
  line-height: 0.666666667em;

  strong {
    font-weight: 400;
  }
}
h4, h5, h6 {
  font-weight: 700;
  line-height: 1.125em;
  margin-bottom: .9em;
}
h1 {
  color: $purple;
  @include rem("font-size", 28);
  margin-bottom: .9em;

  @include min-breakpoint($desktop) {
    @include rem("font-size", 36);
  }
}
h2 {
  @include rem("font-size", 20);

  @include min-breakpoint($desktop) {
    @include rem("font-size", 28);
  }
}
h3 {
  @include rem("font-size", 18);

  @include min-breakpoint($desktop) {
    @include rem("font-size", 26);
  }
}
h4 {
  @include rem("font-size", 16);
}
h5 {
  @include rem("font-size", 15);
}
h6 {
  @include rem("font-size", 14);
}

// Paragraphs and lists
p {
  line-height: 21px;
  margin-bottom: 21px;
}

ul {
  margin-bottom: 30px;

  li {
    position: relative;
    padding-left: 13px;
    margin-bottom: 7px;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
    }
  }
}

// Pipe separator
.pipe {

}

// Banner
.banner {
  h1 {

  }

  p {
    line-height: 18px;
  }

  h4 {

  }

  ul {
    li {

    }
  }

  > * {
    a {
      display: inline-block;
      padding-bottom: 0;
      margin-bottom: -1px;
      border-bottom: 1px solid $blue;
      transition: color .3s ease-in-out, border-color .3s ease-in-out;

      &:hover {
        color: $blue-darker;
        border-color: $blue-darker;
      }
    }
  }
}

// Message box
.message-box {
  padding: 15px;
  background-color: $green;
  margin-bottom: 30px;

  h1, h2, h3, h4, h5, h6 {
    color: $purple;
    margin-bottom: .5em;
  }
  p {
    &:last-of-type {
      margin-bottom: 0;
      @include min-breakpoint($tablet) {

      }
    }
  }
  img {
    &.mobile-graphic {
      right: 15px;
      bottom: 15px;
      position: absolute;

      @include breakpoint($tablet-1) {
        width: 70px;
        height: auto;
      }

      @include min-breakpoint($tablet) {
        right: 30px;
      }
    }
  }

  &.mobile-info {
    padding-right: 100px;
    position: relative;
    margin-bottom: 40px;

    @include min-breakpoint($tablet) {
      padding-right: 150px;
    }

    @include min-breakpoint($desktop) {
      margin-bottom: 50px;
    }
  }
}

// Rates
.rates {
  h2 {

  }
}

// Table
.table-wrap {
  margin-bottom: 15px;
  margin-top: 30px;

  * {
    // box-sizing: content-box;
  }
  .table {
    width: 100%;
    border-spacing: 0;

    * {
      // box-sizing: content-box;
    }

    th, td {
      text-align: right;
      min-width: 135px;

      &.no-heading {
        text-align: left;
      }
    }
    td {
      @include rem("font-size", 16);
    }
    th {

    }
    thead tr th, tfoot tr td {
      font-weight: 300;
      @include rem("font-size", 12);
      padding: 9px 20px;

      &:last-of-type {
        padding-right: 0;
      }
    }
    thead {
      tr {
        th {

        }
      }
    }
    tbody {
      tr {
        td {
          padding: 11px 20px;
        }

        &:nth-of-type(odd) {
          background-color: $green-lightest;
        }
        &:nth-of-type(even) {
          background-color: $green-lighter;
        }

        &.focus, &:first-of-type {
          td {
            @include rem("font-size", 18);
            font-weight: 700;
          }
        }
      }
    }
    tfoot {
      tr {
        td {

        }
      }
    }
  }
}

// Callout
.callout {
  margin-bottom: 25px;

  .btn {

  }
}

// Tabber
.tabber {
  &-tab {
    display: inline-block;
    padding: 8px 16px;
    background-color: $green-lighter;
    @include rem("font-size", 18);
    margin-right: -4px;
    position: relative;
    border-top: 1px solid $gray-darker;
    border-right: 1px solid $gray-darker;
    z-index: 0;
    margin-bottom: -1px;

    &:not(.active) {
      transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;

      &:hover {
        color: $gray-dark;
        background-color: $green;
        border-top-color: darken($green, 20%);
        border-right-color: darken($green, 20%);
      }

    }

    &.active {
      background-color: $gray-light;
      padding-top: 18px;
      color: $gray-dark;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid $gray-light;
        top: 0;
        right: 0;
        bottom: -1px;
        left: 0;
      }
    }

    &:not(:first-of-type) {
      &.active {
        border-left: 1px solid $gray-darker;
        margin-left: -1px;

        &::after {
          border-left: 1px solid white;
        }
      }
    }
  }
  &-content {
    background-color: $gray-light;
    border-top: 1px solid $gray-darker;
    position: relative;
    z-index: 1;
    display: none;

    &.active {
      display: block;
    }

    &::after {
      content: "";
      border-top: 1px solid white;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &-inner {
      padding: 27px 15px;
      position: relative;
      z-index: 1;
    }
      &-row {
        margin-bottom: 25px;

        &:last-of-type {
          margin-bottom: 0;
        }

        > * {
          &:last-child {
            margin-bottom: 0;
          }
        }
        h4 {
          margin-bottom: 6px;

          a {

          }
        }
        p {

        }
      }

    &.archive {
      .tabber-content-row {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
