// File Name: _header.scss
// Description: global header styles
// Used by: styles.scss
// Dependencies:
// ------------------------------------------------------------

.header {
  background-color: $blue;

  &-inner {
    text-align: center;
    padding-top: 15px;

    @include min-breakpoint($tablet) {
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo-wrap {
    @include breakpoint($tablet-1) {
      margin-bottom: 15px;
    }
  }
    .logo {
      &-img {
        display: inline-block;
      }
    }

  .main-nav-wrap {

  }
    .main-nav {
      li {
        a {
          color: white;

          &:hover {
            background-color: darken($blue-dark, 5%);
          }
        }

        &.active {
          a {
            background-color: $blue-dark;
          }
        }
      }
    }
}
